/* ==========================================================================
   Article
   ========================================================================== */

.c-article {

}

.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

.c-article__main {
  max-width: 96rem; // 960px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  @include fs--body;

  > * {
    margin-bottom: 1.8rem;
    color: rgba($c__black, .7);
  }

  a:not(.c-btn) {
    text-decoration: underline;
  }

  blockquote {
    margin-left: -2.5rem;
    width: calc(100% + 5rem);
    padding: 2.5rem;
    background: $c__light-grey;
  }

}

.c-article__main>ul>li {
  margin-top: 2.5rem;
  // margin-bottom: 2.5rem;
}

ul>li>ul {
  margin-left: 2rem;
}
